<div class="big-card__component">
  <!-- Linha superior de imagens -->
  <div class="big-card-row">
    <div class="big-card-image">
      <img src="{{ photoA1 }}" alt="">
    </div>

    <div class="big-card-image">
      <img src="{{ photoA2 }}" alt="">
    </div>

    <div class="big-card-image">
      <img src="{{ photoA3 }}" alt="">
    </div>
  </div>

  <!-- Linha inferior de imagens -->
  <div class="big-card-row">
    <div class="big-card-image">
      <img src="{{ photoB1 }}" alt="">
    </div>

    <div class="big-card-image">
      <img src="{{ photoB2 }}" alt="">
    </div>

    <div class="big-card-image">
      <img src="{{ photoB3 }}" alt="">
    </div>
  </div>

  <!-- leganda -->
  <div class="big-card-text">
    <a href="">Mostrar mais</a>
  </div>
</div>
