<!-- NAVEGATION COMPONENT -->
<nav>
  <div class="store-navegation">
    <img src="../assets/images/playstation-icon.png" alt="">
    <ul>
      <li>Jogos <img src="../assets/images/down-arrow.png" style="width: 8px;"></li>
      <li>PS5 <img src="../assets/images/down-arrow.png" style="width: 8px;;"></li>
      <li>PS4 <img src="../assets/images/down-arrow.png" style="width: 8px;;"></li>
      <li>Serviços <img src="../assets/images/down-arrow.png" style="width: 8px;;"></li>
      <li>Acessórios <img src="../assets/images/down-arrow.png" style="width: 8px;;"></li>
      <li>Notícias <img src="../assets/images/down-arrow.png" style="width: 8px;;"></li>
      <li>Lojas <img src="../assets/images/down-arrow.png" style="width: 8px;;"></li>
      <li>Suporte <img src="../assets/images/down-arrow.png" style="width: 8px;;"></li>
    </ul>
  </div>

  <div class="login-navegation">
    <span>Iniciar Sessão</span>
    <img src="../assets/images/lupa.png" alt="" width="35px">
  </div>
</nav>
