<app-navigation-bar></app-navigation-bar>
<app-menu-bar></app-menu-bar>

<app-banners
  photo="../assets/images/banners/ff-banner.png"
  title="FINAL FANTASY VII REBIRTH"
  btnText="Compre já"
  description="A jornada rumo ao desconhecido continua"
></app-banners>

<app-big-cards
  photoA1="../assets/images/large-icons/elden-ring-large-icon.avif"
  photoA2="../assets/images/large-icons/apex-large-icon.avif"
  photoA3="../assets/images/large-icons/promotion-large-icon.avif"
  photoB1="../assets/images/large-icons/wwl-large-icon.avif"
  photoB2="../assets/images/large-icons/jujutsu-large-icon.avif"
  photoB3="../assets/images/large-icons/theshow-large-icon.avif"
></app-big-cards>

<app-product-category
  title="10 melhores jogos no seu país"
  photo1="../assets/images/small-icons/cod-small-icon.avif"
  photo2="../assets/images/small-icons/dd2-small-icon.avif"
  photo3="../assets/images/small-icons/fortnite-small-icon.avif"
  photo4="../assets/images/small-icons/gow-small-icon.avif"
  photo5="../assets/images/small-icons/roblox-small-icon.avif"
></app-product-category>

<app-product-category
  title="Pré-venda"
  photo1="../assets/images/small-icons/fc24-small-icon.avif"
  photo2="../assets/images/small-icons/football-small-icon.avif"
  photo3="../assets/images/small-icons/re4-small-icon.png"
  photo4="../assets/images/small-icons/helldivers-small-icon.avif"
  photo5="../assets/images/small-icons/gta-small-icon.png"
></app-product-category>

<app-product-category
  title="Novos jogos"
  photo1="../assets/images/small-icons/rdr2-small-icon.jpeg"
  photo2="../assets/images/small-icons/ffvii-small-icon.avif"
  photo3="../assets/images/small-icons/outlast-small-icon.avif"
  photo4="../assets/images/small-icons/brothers-small-icon.avif"
  photo5="../assets/images/small-icons/skull-and-bones-small-icon.avif"
></app-product-category>

<app-product-category
  title="Demonstrações"
  photo1="../assets/images/small-icons/expeditions-small-icon.avif"
  photo2="../assets/images/small-icons/banishers-small-icon.avif"
  photo3="../assets/images/small-icons/f1-small-icon.avif"
  photo4="../assets/images/small-icons/ronin-small-icon.avif"
  photo5="../assets/images/small-icons/hifi-rush-small-icon.avif"
></app-product-category>

<app-banners
  photo="../assets/images/banners/psplus-banner.png"
  title="Descobre o PlayStation Plus"
  btnText="Saiba mais"
  description="Aproveite centenas de jogos de PS5, PS4 e clássicos, modo multijogador online e mais benefícios imperdíveis."
></app-banners>

<app-banners
  photo="../assets/images/banners/ps-stars-banner.png"
  btnText="Saiba mais"
  description="Inscreva-se gratuitamente, complete missões e ganhe recompensas."
></app-banners>

<app-big-cards
  photoA1="../assets/images/large-icons/ps5-large-icon.png"
  photoA2="../assets/images/large-icons/ps4-large-icon.png"
  photoA3="../assets/images/large-icons/promo-large-icon.png"
  photoB1="../assets/images/large-icons/expansions-large-icon.png"
  photoB2="../assets/images/large-icons/free-to-play-large-icon.png"
  photoB3="../assets/images/large-icons/vr-large-icon.png"
></app-big-cards>

<router-outlet/>
